@if (TempData["successMessage"] is not null) 
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["successMessage"]
        <strong>Holy guacamole!</strong> You should check in on some of those fields below.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["errorMessage"] is not null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        TempData["errorMessage"]
        <strong>Holy guacamole!</strong> You should check in on some of those fields below.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}